// Sizes
$teeter-height: 10px;
$spacer-base: 20px;
$spacer-40: 40px;
$spacer-60: 60px;
$button-height: 36px;
$button-width: 130px;

// Typography
$base-font-size: 14px;
$heading-h1: 32px;
$heading-h2: 28px;
$heading-h3: 24px;

// Colors
$white-color: #ffffff;
$teeter-base-color: brown;
$color-black: #1a1a1a;
$color-grey: #5f5f5f;

